# Introduction

In this NoteBook, we will clean the dataset of GDP for each states

## Set up

In [1]:
import pandas as pd

## Read Data

In [2]:
# read the file and skip the title and note at the end
data = pd.read_csv('../raw/GDP.csv', skiprows=[0,1,2,3,5,57,58,59,60,61,62,63,64,65,66,67], delimiter = ',')

In [3]:
data.head()

,GeoFips,GeoName,1997,1998,1999,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1000,Alabama,61083.8,64168.6,67225.1,69764.4,72038.4,74152.3,77085.0,81588.9,...,100372.5,102206.9,106036.8,110031.4,112854.1,116653.1,121648.4,126982.8,129730.7,(NA)
1,2000,Alaska,12347.8,12889.6,13127.5,13893.0,14883.3,15703.7,16522.0,17454.3,...,25739.1,26362.2,27139.9,27826.3,27170.6,27133.0,28299.9,29108.0,28797.9,(NA)
2,4000,Arizona,69876.9,77166.0,82849.8,91205.4,95475.5,98041.6,102681.4,111133.6,...,145243.2,150331.8,156465.4,163929.0,170624.3,180958.5,193037.3,204327.8,214073.1,(NA)
3,5000,Arkansas,32715.5,34880.9,36741.0,38766.8,40397.1,41662.0,43485.7,46064.2,...,59196.2,60545.9,62563.9,64679.8,66179.6,68619.4,70996.5,73514.4,75295.1,(NA)
4,6000,California,574432.9,625411.7,681068.5,768199.0,786778.9,793668.6,826979.8,881668.6,...,1113411.5,1157678.6,1225532.5,1313766.3,1371402.0,1452842.6,1531503.1,1615149.1,1658813.1,(NA)

drop the column of GeoFips that we don't need and the column of "2021" (the data is null)

In [4]:
data = data.drop(data.columns[[0,26]], axis = 1)

In [5]:
data.head()

,GeoName,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,61083.8,64168.6,67225.1,69764.4,72038.4,74152.3,77085.0,81588.9,86356.8,...,98890.3,100372.5,102206.9,106036.8,110031.4,112854.1,116653.1,121648.4,126982.8,129730.7
1,Alaska,12347.8,12889.6,13127.5,13893.0,14883.3,15703.7,16522.0,17454.3,18584.7,...,24458.4,25739.1,26362.2,27139.9,27826.3,27170.6,27133.0,28299.9,29108.0,28797.9
2,Arizona,69876.9,77166.0,82849.8,91205.4,95475.5,98041.6,102681.4,111133.6,121777.9,...,139617.8,145243.2,150331.8,156465.4,163929.0,170624.3,180958.5,193037.3,204327.8,214073.1
3,Arkansas,32715.5,34880.9,36741.0,38766.8,40397.1,41662.0,43485.7,46064.2,48480.3,...,56870.0,59196.2,60545.9,62563.9,64679.8,66179.6,68619.4,70996.5,73514.4,75295.1
4,California,574432.9,625411.7,681068.5,768199.0,786778.9,793668.6,826979.8,881668.6,926929.3,...,1059293.2,1113411.5,1157678.6,1225532.5,1313766.3,1371402.0,1452842.6,1531503.1,1615149.1,1658813.1

In [6]:
path = '../processed/gdp.csv'
data.to_csv(path)