# Introduction

In this NoteBook, we will clean the dataset of "charging station"

## Set up

In [1]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime

## Read the file

In [8]:
#read the file
path = '../raw/charging.csv'
df = pd.read_csv(path)

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,Fuel Type Code,Fuel Type,Station Name,Street Address,Intersection Directions,City,State Code,RegionId,State,ZIP,...,E85 Other Ethanol Blends,EV Pricing,LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source
0,E85,Ethanol (E85),Kwik Trip #937,2550 Highway 12 E,NaN,Willmar,MN,US_MN,Minnesota,56201,...,"[""E15""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,Electric,Hollywood Plaza Port 1 2,8050 International Dr,NaN,Orlando,FL,US_FL,Florida,32819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Electric,Dwntwn Stations Law Ll2 North,Law School Underground Garage 111 N First Str,NaN,Phoenix,AZ,US_AZ,Arizona,85004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,Electric,The Shops At La Cantera - Cheesecake Factory,15900 La Cantera Pkwy,NaN,San Antonio,TX,US_TX,Texas,78256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,Electric,Endeavor Reg 901 E 6Th St 3,901 E 6th St,NaN,Austin,TX,US_TX,Texas,78702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### There are too many data(each row corresponding to the information of a station), So we need to clean it. 
#### The columns we need is state of station, and their open date

In [5]:
list(df)

['Fuel Type Code',
 'Fuel Type',
 'Station Name',
 'Street Address',
 'Intersection Directions',
 'City',
 'State Code',
 'RegionId',
 'State',
 'ZIP',
 'Plus4',
 'Station Phone',
 'Status Code',
 'Status',
 'Status note',
 'Expected Date',
 'Groups With Access Code',
 'Groups with access code note',
 'Access Days Time',
 'Cards Accepted',
 'BD Blends',
 'NG Fill Type Code',
 'NG PSI',
 'EV Level1 EVSE Num',
 'EV Level2 EVSE Num',
 'EV DC Fast Count',
 'EV Other Info',
 'EV Network',
 'EV Network Web',
 'Geocode Status',
 'Latitude',
 'Longitude',
 'Date Last Confirmed',
 'ID',
 'Updated At',
 'Owner Type Code',
 'Federal Agency ID',
 'Federal Agency Name',
 'Open Date',
 'Hydrogen Status Link',
 'NG Vehicle Class',
 'LPG Primary',
 'E85 Blender Pump',
 'EV Connector Types',
 'Country',
 'Groups With Access Code (French)',
 'Hydrogen Is Retail',
 'Access Code',
 'Access Detail Code',
 'Federal Agency Code',
 'Facility Type',
 'CNG Dispenser Num',
 'CNG On-Site Renewable Source',
 'CNG Total Compression Capacity',
 'CNG Storage Capacity',
 'E85 Other Ethanol Blends',
 'EV Pricing',
 'LPG Nozzle Types',
 'Hydrogen Pressures',
 'Hydrogen Standards',
 'CNG Fill Type Code',
 'CNG PSI',
 'CNG Vehicle Class',
 'LNG Vehicle Class',
 'EV On-Site Renewable Source']

In [6]:
## drop the columns we don't need
df = df.drop(['Fuel Type Code',
 'Fuel Type',
 'Station Name',
 'Street Address',
 'Intersection Directions',
 'City',
 'State Code',
 'RegionId',
 'ZIP',
 'Plus4',
 'Station Phone',
 'Status Code',
 'Status',
 'Status note',
 'Expected Date',
 'Groups With Access Code',
 'Groups with access code note',
 'Access Days Time',
 'Cards Accepted',
 'BD Blends',
 'NG Fill Type Code',
 'NG PSI',
 'EV Level1 EVSE Num',
 'EV Level2 EVSE Num',
 'EV DC Fast Count',
 'EV Other Info',
 'EV Network',
 'EV Network Web',
 'Geocode Status',
 'Latitude',
 'Longitude',
 'Date Last Confirmed',
 'ID',
 'Updated At',
 'Owner Type Code',
 'Federal Agency ID',
 'Federal Agency Name',
 'Hydrogen Status Link',
 'NG Vehicle Class',
 'LPG Primary',
 'E85 Blender Pump',
 'EV Connector Types',
 'Country',
 'Groups With Access Code (French)',
 'Hydrogen Is Retail',
 'Access Code',
 'Access Detail Code',
 'Federal Agency Code',
 'Facility Type',
 'CNG Dispenser Num',
 'CNG On-Site Renewable Source',
 'CNG Total Compression Capacity',
 'CNG Storage Capacity',
 'E85 Other Ethanol Blends',
 'EV Pricing',
 'LPG Nozzle Types',
 'Hydrogen Pressures',
 'Hydrogen Standards',
 'CNG Fill Type Code',
 'CNG PSI',
 'CNG Vehicle Class',
 'LNG Vehicle Class',
 'EV On-Site Renewable Source'],axis=1)

In [7]:
df.head()

       State   Open Date
0  Minnesota  09/15/2018
1    Florida  04/03/2019
2    Arizona  10/22/2019
3      Texas  11/23/2020
4      Texas  04/02/2021

In [8]:
# we just need the data in year, not exactly date. So clean it
df['Open Date'] = pd.to_datetime(df['Open Date'])

df['Open Date'] = df['Open Date'].dt.year

In [9]:
df

            State  Open Date
0       Minnesota     2018.0
1         Florida     2019.0
2         Arizona     2019.0
3           Texas     2020.0
4           Texas     2021.0
...           ...        ...
60466   Minnesota     2020.0
60467  California     2020.0
60468        Utah     2021.0
60469    Nebraska     2021.0
60470       Texas     2021.0

[60471 rows x 2 columns]

In [10]:
# there are some data of 'Open Date' is not avaliable, so we need to clean it
# fill the 'NA' as value 0
df = df.fillna(0)
#convert the data type to int
df['Open Date'] = df['Open Date'].astype(int)
#clean the unavailable data
list = []
for index, row in df.iterrows():
    if df.iloc[index,1] == 0:
        list.append(index)
df = df.drop(list,axis=0)
df

            State  Open Date
0       Minnesota       2018
1         Florida       2019
2         Arizona       2019
3           Texas       2020
4           Texas       2021
...           ...        ...
60466   Minnesota       2020
60467  California       2020
60468        Utah       2021
60469    Nebraska       2021
60470       Texas       2021

[60124 rows x 2 columns]

## Now we have data of all 60470 stations' information, we need to clean them as:
## "The number of stations for each state by year"

In [10]:
#create an array to store the year
a = np.sort(df['Open Date'].unique())
a

array([1974, 1976, 1978, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [11]:
#creat a list to store the columns name
col = []
col.append('state')
for i in a:
    col.append(i)

In [12]:
# creat a new DataFrame that ready to get value for "The number of stations for each state by year"
df1 = pd.DataFrame(columns = col)
df1['state'] = df['State'].unique()
df1 = df1.fillna(0)
df1 = df1.set_index('state')
df1.head()

,1974,1976,1978,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
state,,,,,,,,,,,,,,,,,,,,,
Minnesota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Florida,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Arizona,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Texas,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Illinois,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
print(df['State'].unique())

['Minnesota' 'Florida' 'Arizona' 'Texas' 'Illinois' 'California'
 'North Carolina' 'Ohio' 'Georgia' 'Massachusetts' 'Kentucky' 'Michigan'
 'Iowa' 'Washington' 'New York' 'West Virginia' 'Colorado' 'Idaho'
 'Nevada' 'Kansas' 'Wisconsin' 'Indiana' 'Pennsylvania' 'Maryland'
 'South Carolina' 'Oklahoma' 'South Dakota' 'Tennessee' 'Alabama' 'Utah'
 'New Jersey' 'Oregon' 'Missouri' 'New Mexico' 'Virginia' 'Mississippi'
 'Maine' 'Vermont' 'Delaware' 'Louisiana' 'Rhode Island' 'Montana'
 'Connecticut' 'Hawaii' 'Nebraska' 'Arkansas' 'Ontario'
 'District of Columbia' 'New Hampshire' 'Alaska' 'Wyoming' 'North Dakota'
 'Puerto Rico']

In [14]:
# iterrate the dataframe, using condition to count the number of stations then put it into new DataFrame
for state in df['State'].unique():
    for year in a:
        count=0
        for index, row in df.iterrows():
            if df['State'][index] == state and df['Open Date'][index] <= year:
                count += 1
        df1.at[state,year] = count

In [15]:
df1

,1974,1976,1978,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
state,,,,,,,,,,,,,,,,,,,,,
Minnesota,0,0,0,0,0,0,0,0,0,0,...,287,340,414,478,563,675,778,1011,1225,1252
Florida,0,0,0,0,0,0,0,0,0,0,...,334,379,552,687,864,1062,1380,1829,2813,2962
Arizona,0,0,0,1,1,1,1,1,1,1,...,210,231,313,350,383,434,532,642,1033,1123
Texas,0,0,0,0,0,0,0,0,0,0,...,551,634,840,955,1075,1282,1564,2038,2938,3097
Illinois,0,0,0,0,0,0,0,0,0,0,...,363,418,510,590,671,785,901,1079,1454,1623
California,0,0,0,0,0,0,0,0,0,2,...,1036,1235,1691,2128,2469,2973,3693,7163,14608,15312
North Carolina,0,0,0,0,0,0,0,0,0,0,...,336,382,454,541,639,729,846,1013,1369,1444
Ohio,0,1,1,1,1,2,2,2,2,2,...,229,301,369,466,520,603,738,893,1278,1371
Georgia,0,0,0,0,0,0,1,1,1,1,...,155,189,293,406,490,607,715,979,1655,1740
Massachusetts,0,0,0,0,0,0,0,0,0,0,...,105,132,200,225,246,331,487,933,2113,2261
Kentucky,0,0,0,0,0,0,0,0,0,0,...,81,96,117,137,163,184,207,245,328,346
Michigan,0,0,0,0,0,0,0,0,0,0,...,292,364,438,498,537,611,688,799,1151,1215
Iowa,0,0,0,0,0,0,0,1,1,2,...,197,229,273,292,334,374,447,521,664,963
Washington,0,0,0,0,1,1,1,1,1,1,...,207,256,357,450,553,671,854,1072,1788,1889
New York,0,0,0,0,0,0,0,1,1,1,...,220,270,330,521,640,833,1290,2006,3055,3187
West Virginia,0,0,0,0,0,0,0,0,0,0,...,28,36,45,54,106,121,128,141,169,172
Colorado,0,0,0,0,0,0,0,0,0,0,...,162,208,281,346,447,559,713,1024,1717,1810
Idaho,0,0,0,0,0,1,2,3,4,4,...,37,43,61,84,96,107,121,139,173,177
Nevada,0,0,0,0,0,0,0,0,0,0,...,34,60,97,117,140,167,229,273,480,538
Kansas,0,0,0,0,0,0,0,0,0,0,...,90,110,137,180,207,234,289,333,598,626
Wisconsin,0,0,0,0,0,0,0,0,0,0,...,242,318,394,426,456,538,613,689,821,856
Indiana,0,0,0,0,0,0,0,0,0,1,...,223,264,313,348,378,431,493,556,670,699
Pennsylvania,0,0,0,0,0,0,0,0,0,0,...,172,226,298,378,483,588,765,980,1411,1514
Maryland,0,0,1,1,1,1,1,1,1,1,...,119,139,224,313,379,491,626,784,1305,1378
South Carolina,0,0,0,0,0,0,0,0,1,1,...,195,213,257,272,297,330,364,420,511,546
Oklahoma,0,0,0,0,0,0,0,0,0,0,...,196,222,244,277,310,360,397,551,631,651
South Dakota,0,0,0,0,0,0,0,0,0,0,...,75,79,93,98,106,120,137,144,162,168
Tennessee,0,0,0,0,0,0,0,0,0,0,...,172,217,255,312,350,389,444,553,838,861
Alabama,0,0,0,0,0,0,0,0,0,0,...,124,138,173,186,239,267,290,333,398,417
Utah,0,0,0,0,0,0,0,0,0,0,...,72,83,140,148,162,222,302,465,949,982
New Jersey,0,0,0,0,0,0,0,0,0,0,...,85,105,138,167,192,235,376,470,727,802
Oregon,0,0,0,0,0,0,0,0,0,0,...,157,185,231,351,394,470,601,717,1037,1102
Missouri,0,0,0,0,0,0,0,0,0,0,...,134,149,224,283,403,449,532,640,1233,1266
New Mexico,0,0,0,0,0,0,0,0,0,0,...,55,64,83,93,104,125,149,185,270,281
Virginia,0,0,0,0,0,0,0,0,0,0,...,164,215,284,385,459,569,697,827,1274,1359
Mississippi,0,0,0,0,0,0,0,0,0,0,...,89,93,102,111,127,142,153,181,196,201
Maine,0,0,0,0,0,0,0,0,0,0,...,25,45,62,108,126,151,187,225,314,331
Vermont,0,0,0,0,0,0,0,0,0,0,...,17,34,50,90,110,144,182,216,318,337
Delaware,0,0,0,0,0,0,0,0,0,0,...,13,16,26,29,44,51,57,73,144,151
Louisiana,0,0,0,0,0,0,0,0,0,0,...,62,69,84,117,152,178,200,223,249,254
Rhode Island,0,0,0,0,0,0,0,0,0,0,...,29,35,40,42,47,82,109,146,262,281
Montana,0,0,0,0,0,0,0,0,0,0,...,19,27,41,53,60,71,80,92,103,114
Connecticut,0,0,0,0,0,0,0,0,0,0,...,117,158,204,285,315,339,398,450,555,569
Hawaii,0,0,0,0,0,0,0,0,0,0,...,110,121,142,161,195,207,245,292,377,387
Nebraska,0,0,0,0,1,1,2,2,2,2,...,74,89,100,120,137,157,184,211,324,370
Arkansas,0,0,0,0,1,1,1,1,1,1,...,75,91,108,120,127,155,182,205,297,312
Ontario,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,5
District of Columbia,0,0,0,0,0,0,0,0,0,0,...,28,34,57,69,75,101,138,172,303,320
New Hampshire,0,0,0,0,0,0,0,0,0,0,...,33,45,67,98,108,126,138,152,187,205
Alaska,1,1,1,1,1,1,1,1,1,1,...,3,4,6,6,11,18,21,39,55,55
Wyoming,0,0,0,0,0,0,0,0,0,0,...,19,28,38,49,65,79,87,93,103,105
North Dakota,0,0,0,0,0,0,0,0,0,0,...,39,45,53,55,58,70,86,103,131,132
Puerto Rico,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,5

In [16]:
# Now we have cleanned data, save it into processed file
path = '../processed/charging_station.csv'
df1.to_csv(path)